.carousel-caption {
    min-height: 100%;
    display: flex!important;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.carousel-caption h1 {
  font-size: 4.5rem;
}

.carousel-caption * {
  text-transform: uppercase;
  width: 100%;
}

.carousel-caption > * {
  background: #05497066;
}

.subInformacion * {
  font-size: 25px;
  font-weight: bold;
}

.subInformacion div:nth-child(4) {
  border-bottom: 3px solid red;
  padding-bottom: 20px;
}

.separadorLinea {
  color: red;
  font-size: 48px;
}

.separador-derecho {
  border-right: 3px solid red;
}

.border-bottom-none {
  border-bottom: unset!important;
}

.subTitulo {
  border-bottom: 3px solid #054970;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.subTitulo::after {
  height: 0px!important;
}

@media (max-width:1495px) {

  .carousel-inner {
    min-height: 100%!important;
  }

}