.titulo-secundario {
    background-color: #054970;
    color: #fff;
    padding: 15px;
    margin: 20px 0px;
}

.contenedor-imagen {
    background-color: rgb(205 205 205 / 50%);
}

.contenedor-imagen, .contenedor-cimentaciones img, .seccion-principal-imagen img {
    min-height: 255px;
    max-height: 255px;
    object-fit: cover;
}

.contenedor-imagen img {
    height: 100%;
}

.contenedor-obras-atiende .fa-paper-plane {
    color: #054970;
}

.contenedor-experiencia div > div {
    background-color: #054970;
    color: #fff;
    border: 1px solid #fff;
}