.titulo-secundario {
    background-color: #054970;
    color: #fff;
    padding: 15px;
    margin: 20px 0px;
}

.contenedor-imagen {
    background-color: rgb(205 205 205 / 50%);
}

.contenedor-imagen, .contenedor-cimentaciones img, .seccion-principal-imagen img {
    min-height: 255px;
    max-height: 255px;
    object-fit: cover;
}

.contenedor-imagen img {
    height: 100%;
}

.contenedor-obras-atiende .fa-paper-plane {
    color: #054970;
}

.contenedor-experiencia div > div {
    background-color: #054970;
    color: #fff;
    border: 1px solid #fff;
    font-size: 20px;
}

.contenedor-pozos div > div {
    background-color: #132c3a;
    color: #fff;
    font-weight: bold;
    margin-bottom: 3px;
}

.contenedor-pozos div > div:hover {
    animation-name: saltar;
    animation-timing-function: ease-out;
}

.informacion-sub-edificacion > div {
    text-align: center;
    background-color: #132c3a;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    border-right: 3px solid #fff;
}

.informacion-sub-edificacion > div span {
    border-bottom: 3px solid #fff;
}

@keyframes saltar {

    0% {
        transform: rotate(40deg);
    }

    100% {
        transform: rotate(100deg);
    }

}

.titulo-normal {
    background: #054970;
    color: #fff!important;
    font-weight: bold;
}

.contenedor-estudios-ingenieria .list-group-item.active {
    background-color: #fd7000!important;
    border-color: #fd7000!important;
}

.titulo-fondo-estandar {
    background-color: #054970;
    color: #ffff;
}